<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="dueTime" value ="5000"/>
    <add key="exec_file" value ="cmd.exe"/>
    <add key="exec_args" value ="/c ping baidu.com -t"/>
    <add key="account" value =""/>
    <add key="password" value =""/>
    <add key="domain" value ="."/>
    <add key="log_Path" value ="D:\Log\"/>
  </appSettings>
</configuration>